*{
    /* margin-left: 10px; */
    padding: 0;
    font-family: 'Poppins';
    background-color: #1E1E1E;
    transform: scale(0.98);
}
.header{
    margin-bottom: 7%;
    /* margin-left: 5%; */
    transform: scale(0.89);
}
nav{
    display: flex;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    margin-left: 25px;
    transform: scale(0.89);
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 52px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
/* .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
} */
.c-button a{
    font-weight: 700;
    color: #000;
    text-decoration: none;
    margin-right: 0px;
    border: 0.1px solid #FFE600;
    border-radius: 20px;
    background: #FFE600;
    padding: 8px 25px;
}
/* .nav-links ul li:hover::after{
    width: 70%;
} */

.info{
    margin-left: 7.8%;
    color: #fff;
    transform: scale(0.89) translate(0, -100px);
}
.info h5 span{
    color: #FFE500;
    margin-left: 0%;
    margin-right: 3%;
    font-size: 24px;
    font-weight: 300;
}
.info h5{
    font-size: 16px;
    font-weight:normal;
}
.info h1{
    font-size: 86px;
    font-weight: bold;
    margin-top: 0%;
}
.info p{
    font-size: 16px;
    font-weight:normal;
    margin-top: 0%;
}
.ceo{
    transform: translate(650px, -700px) scale(0.8);
}
.l-ceo{
    position: absolute;
    z-index: 1;
    transform: translate(87px, 28px);
}
.l-ceo img{
    position: absolute;
    transform: translateX(-9px) scale(0.9);
    z-index: 2;
}
.rectangle{
    position: absolute;
    z-index: 1;
    width: 31rem;
    height: 37rem;
    background: #20202045;;
    transform: translate(2px, 8px);
}
.r-ceo{
    margin:5px;
    width: 11rem;
    height: 6rem;
    position: absolute;
    z-index: 3;
    background-color: #FFE600;
    transform: translate(300px, 475px);
    opacity: 82%;
}
.r-ceo p{
    color: #000;
    background-color: #FFE500;
    margin-top: 50px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.r-ceo img{
    background-color: #FFE600;
    margin-top: 22px;
    margin-left: 26px;
    transition: 0.6s;
    
}
.r-ceo img:hover{
    transform: scale(1.5, 1.1);
}
.sphere{
    position: absolute;
    z-index: 0;
    width: 42rem;
    height: 42rem;
    border-radius: 50%;
    transform: translate(-91px, -45px) scale(0.95);
    background: linear-gradient(26deg, #5c19a926 40%, #05f7ff);
    animation: animate 2s linear infinite;
    /* box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
    background-image: -webkit-linear-gradient(-45deg, rgba(178, 12, 234, 0.3) 0%, transparent 100%); */
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    25%{
        transform: rotate(180deg);
        filter: hue-rotate(180deg);
    }
    50%{
        transform: rotate(90deg);
        filter: hue-rotate(90deg);
    }
    100%{
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
.sphere:before{
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    bottom: 6px;
    right: 6px;
    border-radius: 50%;
    z-index: 1000;
}
.sphere:after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border-radius: 50%;
    z-index: 1;
    background: linear-gradient(26deg, #5c19a9 40%, #05deff);
    filter: blur(40px);
}